CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
API_KEY=

HOST=0.0.0.0
PORT=3000

MAX_UPLOAD_BYTES=52428800
MAX_FILE_COUNT=1000
MAX_SINGLE_FILE_BYTES=10485760
MAX_MULTIPART_FIELDS=4
MAX_MULTIPART_FIELD_SIZE=256
